<div class="tileContainer">
  <form action="/searchFaq" method="GET">
    <input name="searchText" class="input" style="width: 300px; margin-bottom:5vh" placeholder="search for something here...">
    <input name="searchTime" class="input" style="width: 300px; margin-bottom:5vh" placeholder='created before "yyyy-mm-dd hh"'>
    <button class="button is-dark" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <a href="createFaqs" class="button is-primary">Ask a question</a>
  {{#unless Faq.length}}
    <p>There is nothing here</p>
  {{/unless}}
  {{#each Faq}}
    <div class="tile is-ancestor is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child box">
          {{#if ../isLoggedIn}}
          <div class="level-right">
            <form action="/delete-faq/{{id}}" method="POST">
            <input type="hidden" name="_csrf" value="{{../token}}">
              <button class="button is-danger" type="submit">
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>
            
            <form action="/update-faq/{{id}}" method="GET">
              <button class="button is-info" type="submit">
                <i class="fas fa-edit"></i>
              </button>
            </form>
          </div>
          {{/if}}
          <p class="title">{{title}}</p>
          <p>{{postText}}</p>
        </div>
      </div>
    </div>
  {{/each}}
  </div>